
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $black;
  }

  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    color: $white;
  }

  .logo {
    cursor: pointer;
    text-decoration: none;
    color: $white;
  }

  .logo:hover {
    color: $black;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
  }

  section.home {
    flex-direction: row;
    margin-top: 0;
  }

  .home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;
  }

  .home-img {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    height: 90vh;
    animation: slideInFromLeft 1s ease-in-out;
  }

  header #moon {
    position: relative;
    width: 2rem;
    cursor: pointer;
    z-index: 100;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

  @media (max-width: 1068px) {
    .home-img {
      display: none;
    }

    .logo {
      top: 10px;
      left: 40px;
      font-size: 1.5rem;
    }

    section {
      padding: 100px 40px;
    }

    .navigation ul li a {
      font-size: 2rem;
    }

  }

